@import url('https://fonts.googleapis.com/css?family=Cinzel+Decorative|Source+Sans+Pro');

html {
    background-color: #000;
    background: url(../images/background.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
}

body {
	font-size: 20px;
}

.feedback {
    color: #04820a;
    font-weight: bold;
}

a, a:hover, a:link, a:visited { 
	color: #508ced;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

#pageContent, footer {
	margin-left: 10%;
	margin-right: 10%;
}

#header {
    position: fixed;
    display: block;
    background: rgb(200, 200, 200);
    width: 100%;
    top: 0px;
    text-align: left;
    z-index: 9998;
    border-top-style: solid;
    border-top-width: 1px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: #bfbfbf;
    box-shadow: 0 18px 11px 0 rgba(0, 0, 0, 0.75);
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5px;
}

#header #headerTitle {
    float: left;
    font-family: 'Cinzel Decorative', cursive;
    width: 400px;
    font-size: 25px;
    line-height: 22px;
    margin-top: 8px;
}

#header #headerTitle #headerSubTitle {
    font-size: 18px;
    margin-left: 8px;
}

#header nav ul {
    margin-top: 5px;
    margin-bottom: 5px;
}

#header nav ul li {
    display: inline-block;
}

#header ul.loggedInLinks, #header ul.adminLinks {
    font-size: 0.8em;
}

#header #headerLinks {
    display: block;
    float: left;
}

#header #headerLinks ul li {
    margin-left: 25px;
}

#header #headerLinks ul li {
    margin-left: 25px;
}

#header #headerLinks ul li a {
    color: #000;
}

#header #headerLinks ul.loggedInLinks li a {
    color: #777;
}

#header #headerLinks ul.adminLinks li a {
    color: #c14545;
}



h1, h2, h3, h4 {
	font-family: 'Cinzel Decorative', cursive;
}

h1 {
	font-size: 40px;
	margin-bottom: 50px;
}

#pageContent {
	line-height: 1.4;
	color: #fff;
	font-family: 'Source Sans Pro', sans-serif;
}

#pageContent table {
	line-height: 1.4;
	color: #fff;
	font-family: 'Source Sans Pro', sans-serif;
}

#pageContent table tr td {
	border: 1px #777 solid;
}

.namedAnchor {
	display: block;
    position: relative;
    top: -80px;
}

section {
	margin-top: 60px;
	background-color: rgba(50,50,50,0.75);
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding: 10px;
}

section:first-of-type {
    margin-top: 100px;
}

.adminTab {
    background-color: rgba(50,50,50,0.75);
    color: #fff;
}

#repeaterActionButtons  {
    text-align: right;
}

footer {
    margin-top: 20px;
    padding-top: 2px;
    color: rgba(255,255,255,0.4);
    background-color: rgba(50,50,50,0.75);
    text-align: left;
    width: 80%;
    -webkit-border-radius: 10px 10px 0px 0px;
    -moz-border-radius: 10px 10px 0px 0px;
    border-radius: 10px 10px 0px 0px;
    font-size: 0.8em;
    height: 25px;
    padding-top: 3px;
    padding-left: 30px;
}
footer div a, footer div a:visited, footer div a:active, footer div a:hover, footer div a:link {
    color: rgba(255,255,255,0.4);
}

.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 300px;
}

#homeStatsContainer {
    height: 250px;
    text-align: justify;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
    min-width: 612px;
}

    #homeStatsContainer .stat {
        width: 250px;
        height: 250px;
        vertical-align: top;
        border: 1px solid #ffffff;
        text-align: center;
        display: inline-block;
        *display: inline;
        zoom: 1
    }

    #homeStatsContainer .stat span.normalText {
        font-size: 23px;
    }

    #homeStatsContainer .stretch {
        width: 100%;
        display: inline-block;
        font-size: 0;
        line-height: 0
    }

#piechart.currentRepeaters {
    clear: both;
    width: 100%;
    height: 300px;
    margin-top: 50px;
    margin-bottom: 50px;
    border: 1px solid #cecece;
    background-color: rgba(0, 0 , 0, 0.2);
}

#pageContent table tr.requestHeader td, #pageContent table tr.workflowHeader td {
    border-style: none;
    border-bottom: 1px #fff solid;
    font-weight: bold;
}

    #pageContent table tr.requestHeader td:nth-of-type(n+2) {
        padding-top: 0px;
    }

#pageContent table tr.workflowDivider {
    color: rgba(0,0,0,0);
    border: none;
}

#pageContent table tr.workflowHeader td {
    padding-top: 30px;
}

#pageContent table tr.workflowHeader td:nth-of-type(1), #pageContent table tr.workflowDetails td:nth-of-type(1) {
    border-style: none;
}

#pageContent table tr.expiredRepeaterHeader td {
    border-style: none;
    font-weight: bold;
}

#pageContent table tr.expiredRepeaterNotes td {
    border-style: none;
    padding-left: 30px;
}

    #pageContent table tr.expiredRepeaterNotes td ul {
        margin-bottom: 10px;
    }

#pageContent table tr.expiredRepeaterNewNote td {
    border-style: none;
    padding-left: 60px;
    padding-bottom: 60px;
}

    #pageContent table tr.expiredRepeaterNewNote td input {
        margin-right: 10px;
    }