@import url('https://fonts.googleapis.com/css?family=Cinzel+Decorative|Source+Sans+Pro');

html {
	--textColor: #fff;
	--linkColor: #508ced;
	--backgroundColor: #d0d0d0;
	--sectionBgColor: rgba(50,50,50,0.75);
	--headerBgColor: rgba(225, 225, 225, 1);
	--headerLinkColor: #000;
	--footerBgColor: rgba(50,50,50,0.75);
	--footerTextColor: rgba(255,255,255,0.4);

	background-color: #000;
	background: url(../images/background.png) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

html,body {
	margin: 0;
	padding: 0;
}

body {
	font-size: 20px;
}

a, a:hover, a:link, a:visited { 
	color: var(--linkColor);
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

#headerTitle, #pageTitle, #pageContent, footer {
	margin-left: 10%;
	margin-right: 10%;
}

#header {
	position: fixed;
	display: block;
	background: var(--headerBgColor);
	width: 100%;
	top: 15px;
	text-align: left;
	z-index: 9998;
	border-top-style: solid;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-color: var(--borderColor);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#headerTitle {
	float: left;
	font-family: 'Cinzel Decorative', cursive;
	margin-top: 5px;
	padding-left: 10px;
	margin-right: 0px;
	opacity: 0.01;
	transition: all 1s;
	transition-delay: 0s;
}

html.scrolled #headerTitle {
	opacity: 1;
	transition: all 1s;
	transition-delay: 0.4s;
}

#headerLinks {
	position: relative;
	left: -150px;
	transition: all 1s;
	transition-delay: 0.6s;
}
html.scrolled #headerLinks {
	position: relative;
	left: 50px;
	transition: all 1s;
	transition-delay: 0s;
}

#headerLinks ul li {
	display: inline-block;
	margin-right: 50px;
}
#headerLinks ul li a {
	color: var(--headerLinkColor);
}

h1, h2, h3, h4 {
	font-family: 'Cinzel Decorative', cursive;
}

h1 {
	font-size: 40px;
	margin-bottom: 50px;
}

#pageContent {
	line-height: 1.4;
	color: var(--textColor);
	font-family: 'Source Sans Pro', sans-serif;
}

#pageContent table {
	line-height: 1.4;
	color: var(--textColor);
	font-family: 'Source Sans Pro', sans-serif;
}

#pageContent table tr td {
	border: 1px #777 solid;
}

.namedAnchor {
	display: block;
}

section {
	margin-top: 100px;
	background-color: var(--sectionBgColor);
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding: 10px;
}

footer {
	margin-top: 20px;
	padding-top: 2px;
	color: var(--footerTextColor);
	background-color: var(--footerBgColor);
	text-align: right;
	width: 80%;
	-webkit-border-radius: 10px 10px 0px 0px;
	-moz-border-radius: 10px 10px 0px 0px;
	border-radius: 10px 10px 0px 0px;
	font-size: 0.8em;
	height: 25px;
	
	
}
footer div {
	margin-right: 20px;
	margin-top: 3px;
}
footer div a, footer div a:visited, footer div a:active, footer div a:hover, footer div a:link {
	color: var(--footerTextColor);
}