@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono&display=swap");

#loadingAnimation {
    font-family: "Azeret Mono", monospace;
    background-color: rgba(5, 30, 62, 0.6);
    height: 70px;
    width: 500px;
    position: fixed;
    top: 25%;
    left: 37.4%;
    color: white;
    display: none;
    justify-content: center;
    align-items: left;
    backdrop-filter: blur(5px);
    padding: 10px;
}

    #loadingAnimation p:after {
        content: "";
        white-space: pre-wrap;
    }

    #loadingAnimation.go {
        display: flex;
    }

        #loadingAnimation.go p:after {
            animation: loading 122s linear 1;
        }

@keyframes loading {
    0% {
        content: "░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░\A Packing request into a JSON payload";
    }

    5% {
        content: "█░░░░░░░░░░░░░░░░░░░░░░░░░░░░░\A Sending request to web service";
    }

    5% {
        content: "█░░░░░░░░░░░░░░░░░░░░░░░░░░░░░\A Sending request to web service";
    }

    7% {
        content: "██░░░░░░░░░░░░░░░░░░░░░░░░░░░░\A Sending request to web service";
    }

    12% {
        content: "███░░░░░░░░░░░░░░░░░░░░░░░░░░░\A Loading states within range of request";
    }

    20% {
        content: "████░░░░░░░░░░░░░░░░░░░░░░░░░░\A Loading coordination rules";
    }

    24% {
        content: "█████░░░░░░░░░░░░░░░░░░░░░░░░░\A Loading frequency allocation table";
    }

    25% {
        content: "██████░░░░░░░░░░░░░░░░░░░░░░░░\A Loading open requests for coordinations";
    }

    26% {
        content: "███████░░░░░░░░░░░░░░░░░░░░░░░\A Loading open requests for coordinations";
    }

    27% {
        content: "█████████░░░░░░░░░░░░░░░░░░░░░\A Loading open requests for coordinations";
    }

    29.7% {
        content: "█████████░░░░░░░░░░░░░░░░░░░░░\A Loading open requests for coordinations";
    }

    30% {
        content: "██████████░░░░░░░░░░░░░░░░░░░░\A Checking for repeaters on the same frequency";
    }

    35% {
        content: "███████████░░░░░░░░░░░░░░░░░░░\A Comparing locations";
    }

    37% {
        content: "████████████░░░░░░░░░░░░░░░░░░\A Comparing locations";
    }

    40% {
        content: "█████████████░░░░░░░░░░░░░░░░░\A Checking for repeaters on nearby frequencies";
    }

    45% {
        content: "██████████████░░░░░░░░░░░░░░░░\A Checking for repeaters on nearby frequencies";
    }

    50% {
        content: "███████████████░░░░░░░░░░░░░░░\A Applying rules for height above average terrain";
    }

    60% {
        content: "█████████████████░░░░░░░░░░░░░\A Checking power restrictions";
    }

    70% {
        content: "███████████████████░░░░░░░░░░░\A Sending dataset to web service";
    }

    80% {
        content: "████████████████████████░░░░░░\A Converting data to JSON";
    }

    85% {
        content: "█████████████████████████░░░░░\A Encryting payload for transmission";
    }

    90% {
        content: "███████████████████████████░░░\A Receiving encrypted data payload";
    }

    94% {
        content: "████████████████████████████░░\A Decrypting data";
    }

    99% {
        content: "█████████████████████████████░\A Asking Chuck Norris for permission";
    }

    100% {
        content: "Something went wrong. Please report the problem using the link at the bottom-left of the page.";
    }
}
