<?xml version="1.0"?>
<configuration>
  <system.webServer>
    <defaultDocument enabled="true">
      <files>
        <clear/>
        <add value="index.aspx"/>
        <add value="index.asp"/>
        <add value="index.htm"/>
        <add value="index.html"/>
        <add value="home.aspx"/>
        <add value="home.asp"/>
        <add value="home.htm"/>
        <add value="home.html"/>
        <add value="default.aspx"/>
        <add value="default.asp"/>
        <add value="default.htm"/>
        <add value="default.html"/>
      </files>
    </defaultDocument>
    <httpErrors errorMode="Custom">
      <remove statusCode="404" subStatusCode="-1"/>
      <error statusCode="404" prefixLanguageFilePath="" path="/error404.html" responseMode="ExecuteURL"/>
    </httpErrors>
  </system.webServer>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off"></customErrors>
    <compilation targetFramework="4.6.1" debug="true"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <system.net>
    <defaultProxy>
      <proxy usesystemdefault="False" bypassonlocal="False" proxyaddress="http://ntproxyus.lxa.perfora.net:3128" />
    </defaultProxy>
  </system.net>
</configuration>