 .repeaterListTable tr:nth-of-type(even) { background-color: rgba(153, 153, 153, 0.6); }

.repeaterListTable thead, .repeaterListTable tfoot {
	height: 24px;
	display: block;
	background-color: rgba(102, 102, 102, 0.6);;
}

.repeaterListTable tbody {
	height: 350px;
	overflow: auto;
	display: block;
}

.repeaterListTable td:nth-of-type(1), .repeaterListTable th:nth-of-type(1) { width: 75px; }
.repeaterListTable td:nth-of-type(2), .repeaterListTable th:nth-of-type(2) { width: 75px; }
.repeaterListTable td:nth-of-type(3), .repeaterListTable th:nth-of-type(3) { width: 200px; }
.repeaterListTable td:nth-of-type(4), .repeaterListTable th:nth-of-type(4) { width: 200px; }
.repeaterListTable td:nth-of-type(5), .repeaterListTable th:nth-of-type(5) { width: 50px; }
.repeaterListTable td:nth-of-type(6), .repeaterListTable th:nth-of-type(6) { width: 400px; }